@import "tailwindcss";
.perspective-1000 {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.cursor-pointer {
  cursor: pointer;
}
.animate-shimmer {
  background-position: 0 0;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% { background-position: 0 0; }
  100% { background-position: 0 200%; }
}